<%= provide(:title,session[:name]) %>   
<div class="labelstudent label-default">
  <h2>成績</h2>
</div>
<table class="table" width="10%" height="100">
  <thead>
    <tr>
      <th>科目名</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @keka.each do |te| %>
    <tr>
        <td><%= te.subject_name %> </td>
        <td><%= te.grade %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
