<%= provide(:title,session[:name]) %>   
  <div class="jumbotron jumbotron-fluid" ,id="idou">
    <div class="container" ,id="idouu">
      <h1 class="display-3">Fluid 学生連絡</h1>
      <p class="lead">在校生への連絡　(2017/11/28 8:20)<br>
      本日(11/28(火))、  鹿児島本線の陣原－折尾間で人身事故が起きました。<br>
      そのため、ＪＲは遅延および運休等が発生しています。<br>
      ＪＲを利用している学生は、気を付けて登校してください。<br>
      なお、遅延証明を取ってくるようにお願いします。<br>
      </p>
  </div>
</div>