<%= provide(:title,session[:name]) %>   
<div class="form-group">
<label for="comment">学生連絡登録</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="butt">登録</button>
</div>
