<%= form_tag({action: :result},id: :ajax_form,remote:true, class: "form-inline") do %>
  <div class="form-group">
  <label class="mr-sm-2" for="inlineFormCustomSelect">検索項目</label>
  <%= select :page, :name, [["学生番号", "id"], ["名前", "name"],["クラス","k_class"]] %>
  <input type="text" class="form-control" id="email" placeholder="キーワード">
  <%= submit_tag("キーワード",class:"btn btn-primary") %>
  </div>
<% end %>
<div id="test">
</dvi>