<%= provide(:title,session[:name]) %>   
<h1>登録情報</h1>
<table>
<tr>
    <th>学生番号</th>
    <th>クラス</th>
    <th>番号</th>
    <th>名前</th>
    <th></th>
</tr>
    <tr>
        <td>1000</td>
        <td>"R4A1"</td>
        <td>06</td>
        <td>田中　高貴</td>
        <td><a href="">編集</a></td>
    </tr>
</table>
